#iam
  %h1{ :id => 'name' } Tony Fabery
  %p{ :id => 'title' } Web Developer
#about
  .img-circle
    %img{ :id => 'portrait', :src => '/img/portrait.jpg', :alt => 'picture of Tony Fabery'}
  %p{ :id => 'greeting' } Hi!
  %p{ :id => 'description' } I'm a web developer based out of US. I have an ever-growing passion for coding.
#work
#contact
  = haml :contact
